.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
springboot/spring-jpa/mvnw
springboot/spring-jpa/mvnw.cmd

.classpath
.project
.factorypath
.settings/
target/
.class

.next/
node_modules/

*.exe
*.mod
*.class
java/live-study/src/livestudy/SecurityInfo.java
*.lock
*.log
*.ini
*.zip
*.tree
*.version
*.index
*.resources
*.xmi
*.dat
*.xml
*.setup
*.mark
*.properties
*.snap
*.txt
*.png
*.history
computer-science/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
computer-science/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
computer-science/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
computer-science/.metadata/.plugins/org.eclipse.ui.intro/introstate
computer-science/data-structure/.metadata/.mylyn/.taskListIndex/segments_1
computer-science/data-structure/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
computer-science/data-structure/.metadata/.plugins/org.eclipse.ui.intro/introstate
